@import url(http://fonts.googleapis.com/css?family=Lato:900);
@import url(http://fonts.googleapis.com/css?family=Lato:100);

body {
    height: 800px;
    background: 
    -webkit-linear-gradient(left, #6c878e 0%, #6dc9ca 50%, #96c768 100%);
}

.content{
	padding-top: 150px;
	display:flex;
	justify-content:center;
	align-items:center;
}

h1{
	font-size: 120px;
	line-height: 120px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color:white;
}

@media (max-width: 1200px) {
	h1{
		font-size: 80px;
		line-height: 80px;
	}
	body{
		height:600px;
	}
}

@media (max-width:768px) {
	h1{
		font-size: 60px;
		line-height: 60px;
	}
	body{
		height:400px;
	}
	.navbar-nav{
		margin: 0 auto;
		float:none;
	}
	.navbar {
		margin: 0px;
	}
}

.navbar{
	margin-bottom: 100px;
	background:none;
	border:none;
	box-shadow: none;
}
a {
	font-size: 25px;
	font-family: 'Lato', sans-serif;
}

.navbarMenuItems{
	color: rgb(0, 0, 0);
}


.navbar .nav li a:hover {
	color:white !important;
	text-shadow: none !important;
	background-color: rgba(0, 0, 0, 0.7) !important;
}